<h3>Pipes</h3>
<p>
  Texto - Pipe lowercase: {{texto | lowercase}} <!-- pipe que transforma todo texto em minusculo -->
</p>

<p>
  Texto - Pipe uppercase: {{texto | uppercase}}   <!-- pipe que transforma todo texto em maiusculo -->
</p>
<p>
  Numero - Pipe para adicionar casas decimais: {{numero | number:"1.2-5"}}  <!-- pipe que formata o numero e a quantidade de suas casas decimais-->
</p>
<p>
  Data sem formatação: {{data}}
</p>
<p>
  Data - Pipe para formatar datas: {{data | date: 'short'}}  <!-- pipe que formata uma data, há diversas formatações, olhar documentação-->
</p>
<p>
  CEP - Pipe personalizada para CEP: {{cep | cep}} <!-- pipe personalizado e pode ser criado para realizar diversas funcoes-->
</p>
<p>
  CPF - Pipe personalizada para CPF: {{cpf | cpf}} <!-- pipe personalizado e pode ser criado para realizar diversas funcoes-->
</p>

<h3>Impure Pipe</h3>
<input #text type="text">
<button (click)="add(text.value)">+</button>

<p>Textos: {{textos | textos}}</p>
